@font-face {
    font-family: "Futura";
    src: url("fonts/Futura.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
   
}

body {
    font-family: "Futura", sans-serif;
    padding-top: 80px;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 30px auto;
  max-width: 1000px;
  padding:  0;
}

.texto {
  max-width: 500px;
  font-family: "Futura", serif;
  line-height: 1.6;
  text-align: justify;
  flex-direction: column;      /* ← ESTA LÍNEA */
}

.imagen img {
  width: 500px;
  height: auto;
  border-radius: 8px;
}

video  {
    display: block;
    margin: 50px auto;
    border-radius: 10px;
}

.contenedor-texto {
  max-width: 900px;      /* hace más corto el ancho del bloque */
  margin: 0 auto;        /* centra el bloque */
  padding: 20px 40px;    /* espacio interior */
  line-height: 1.6;
  font-size: 18px;
  text-align: justify;      /* por si quieres alinear a la izquierda */
  font-family: "Futura", serif;
}

.imagen-centro {
    text-align: center;
    margin: 40px ;  /* o 40px si prefieres menos */
}

.imagen-centro img {
    width: 700px;
    height: auto;
    border-radius: 10px;
}

.parrafo-shakira {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px 40px;
    font-family: "Futura", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}
