@font-face {
    font-family: "Futura";
    src: url("fonts/Futura.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Futura", sans-serif;
}

.contenedor {
  display: flex;
  justify-content: center;   /* CENTRA horizontalmente el bloque entero */
  align-items: center;       /* Alinea verticalmente */
  gap: 30px;
  margin: 0 auto;            /* Esto también ayuda a centrar */
  max-width: 1000px;         /* Para que no se haga gigante */
  padding: 40px 0;
}

.texto {
  max-width: 500px;
  font-family: "Futura", serif;
  line-height: 1.5;
  text-align: justify;

}

.imagen img {
  width: 500px;
  height: auto;
  border-radius: 8px;
}

video  {
    display: block;
    margin: 50px auto;
    border-radius: 10px;
}

.contenedor-texto {
  max-width: 900px;      /* hace más corto el ancho del bloque */
  margin: 0 auto;        /* centra el bloque */
  padding: 20px 40px;    /* espacio interior */
  line-height: 1.6;
  font-size: 18px;
  text-align: justify;      /* por si quieres alinear a la izquierda */
  font-family: "Futura", serif;
}

.imagen-centro {
    text-align: center;   /* Centra el contenido dentro del div */
    margin: 400px 0;       /* Espacio arriba y abajo */
}

.imagen-centro img {
    width: 700px;
    height: auto;
    border-radius: 10px;
}

.parrafo-shakira {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px 40px;
    font-family: "Futura", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}

.preview-card {
  display: block;
  width: 280px;
  border: 1px solid #ddd;
  border-radius: 12px;
  text-decoration: none;
  color: #000;
  overflow: hidden;
  background: #fff;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.preview-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0

.boton-centro {
    text-align: center;
    margin: 40px 0;
}

.boton-link {
    display: inline-block;
    padding: 12px 25px;
    background-color: #eb008b;   /* puedes cambiar el color */
    color: white;
    text-decoration: none;
    font-family: "Futura", sans-serif;
    font-size: 18px;
    border-radius: 8px;
    transition: 0.3s;
}

.boton-link:hover {
    background-color: #b0005a;  /* color al pasar el mouse */
}


.contenido {
    margin-top: 120px;   /* Aumenta o disminuye según necesites */
}
